$main-bg-color: #2D2D2D;
$main-font-color: #b1b1b1;
$button-border: 1px solid #d22020;
$bg-rectangle: #a900c31d;
$bg-square: #0000d928;
$main-title-color: #d22020;
$main-text-color: #a48de0;
$hover-color: #ff2770;