* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mainbody {
    border: 1px solid black;
    height: 991px;
    width: 693px;
    background-color: #2D2D2D;
    border-radius: 0 20px 20px 0;
}

#lang {
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    .avatar {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        margin: 20px;
    }
    .fullname {
        height: 20px;
        width: 200px;
        // background-color: #ABABAB;
        width: 250px;
        height: 20px;
        padding: 20px 0px 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: start;
        .name {
            margin-left: 20px;
            color: #b1b1b1;
        }
        .job {
            margin-left: 20px;
            color: #b1b1b1;
        }
    }
    .change {
        height: 20px;
        width: 200px;
        // background-color: #ABABAB;
        margin: 30px;
        padding: 30px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.shortpresentation {
    height: 100px;
    width: 622px;
    border: 1px solid #c0c0c0;
    margin: 10px 35px;
    padding: 12px;
    border-radius: 10px;
    .whatiam {
        color: #b1b1b1;
    }
    .situation {
        color: #b1b1b1;
    }
    .hobbies {
        color: #b1b1b1;
    }
}

.level {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .age {
        width: 253px;
        height: 28px;
        text-align: center;
        color: #b1b1b1;
    }
    .progressbarage {
        margin-top: 10px;
        width: 622px;
        height: 8px;
        border: 1px solid #393939;
        overflow: hidden;
    
        .progressage {
            background-image: linear-gradient(90deg, #AA00C3 0%, #0000D9 100%);
            height: 100%;
            width: 24%; 
            transition: width 0.5s ease;
        }
    }
}

.upperRowOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .presentation {
        color: #b1b1b1;
        text-decoration: none;
        .linkpresentation {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 20px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .languageskills {
        color: #b1b1b1;
        text-decoration: none;
        .linklanguageskills {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .programmingandwebskills {
        color: #b1b1b1;
        text-decoration: none;
        .linkprogrammingandwebskills {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 40px;
        }
    }
    .rectangle {
        width: 301px;
        height: 145px;
        border: 1px solid #d22020;
        margin: 0 10px;
        background-color: #a900c31d;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .square {
        width: 145px;
        height: 145px;
        border: 1px solid #d22020;
        margin: 0 10px;
        background-color: #0000d928;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.upperRowTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .cv {
        color: #b1b1b1;
        text-decoration: none;
        .linkcv {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 20px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .hobbies {
        color: #b1b1b1;
        text-decoration: none;
        .linkhobbies {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .favlightnovel {
        color: #b1b1b1;
        text-decoration: none;
        .linkfavlightnovel {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 50px;
        }
    }
    .rectangle {
        width: 301px;
        height: 145px;
        border: 1px solid #d22020;
        margin: 0 10px;
        background-color: #a900c31d;
    }
    .square {
        width: 145px;
        height: 145px;
        border: 1px solid #d22020;
        margin: 0 10px;
        background-color: #0000d928;
    }
}

.lowerRowOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .professionalproject {
        color: #b1b1b1;
        text-decoration: none;
        .linkprofessionalprojects {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .favanimes {
        color: #b1b1b1;
        text-decoration: none;
        .linkfavanimes {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .favmanga {
        color: #b1b1b1;
        text-decoration: none;
        .linkfavmanga {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .favmusic {
        color: #b1b1b1;
        text-decoration: none;
        .linkfavmusic {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .contact {
        color: #b1b1b1;
        text-decoration: none;
        .linkcontact {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .square {
        width: 145px;
        height: 145px;
        border: 1px solid #d22020;
        margin: 0 10px;
        background-color: #0000d928;
    }
    .rectagle {
        width: 301px;
        height: 145px;
        border: 1px solid #d22020;
        margin: 0 10px;
        background-color: #a900c31d;
    }
}

.lowerRowTwo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .personalproject {
        color: #b1b1b1;
        text-decoration: none;
        .linkpersonalprojects {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .contact {
        color: #b1b1b1;
        text-decoration: none;
        .linkcontact {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .favanimes {
        color: #b1b1b1;
        text-decoration: none;
        .linkfavanimes {
            text-decoration: none;
            color: #b1b1b1;
            font-size: 18px;
            text-align: center;
            margin-top: 60px;
        }
    }
    .square {
        width: 145px;
        height: 145px;
        border: 1px solid #d22020;
        margin: 0 10px;
        background-color: #0000d928;
    }
    .rectagle {
        width: 301px;
        height: 145px;
        border: 1px solid #d22020;
        margin: 0 10px;
        background-color: #a900c31d;
    }
}