.projectslist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .first-project {
        text-align: center;
        h2 {
            color: $main-font-color;
        }
        .puppetdex {
            width: 700px;
        }
        p {
            color: $main-font-color;
        }
    }
    .second-project {
        text-align: center;
        padding-top: 10px;
        h2 {
            color: $main-font-color;
        }
        .shironeko {
            width: 700px;
        }
        p {
            color: $main-font-color;
        }
    }
}

.projectpart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .first-project {
        text-align: center;
        h2 {
            color: $main-font-color;
        }
        .codinga1 {
            width: 700px;
        }
        p {
            color: $main-font-color;
        }
    }
}

.hobbies-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    a {
        text-decoration: none;
        color: $main-font-color;
        &:hover {
            color: $hover-color;
        }
    }
}

.animestitle, .mangatitle, .lightnoveltitle, .languagetitle, .musictitle {
    color: $main-title-color;
}

.animestext, .mangatext, .lightnoveltext, .languagetext, .musictext {
    color: $main-text-color;
}

.animes, .manga, .lightnovel, .language, .music {
    padding-top: 35px;
}

.owntopanime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
    .mknr {
        width: 200px;
    }
    .xamd {
        width: 200px;
    }
    .ds2 {
        width: 200px;
    }
}

.owntopmanga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
    .nazeboku-manga {
        width: 200px;
    }
    .tomogame {
        width: 200px;
    }
    .mknr-manga {
        width: 200px;
    }
}

.owntoplightnovel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
    .nazeboku-ln {
        width: 200px;
    }
    .mknr-ln {
        width: 200px;
    }
    .kamigame {
        width: 200px;
    }
}